{% extends 'layout.html' %}

{% block content %}
    <h2>{{ store.name }}</h2>
    <h3>{{ store.location }}</h3>
    <p>Total Items: {{ store.item_set.count }}</p>
    <ul>
        {% for item in store.item_set.all %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'stores:edit_store' pk=store.id %}">
        <button class="btn btn-lg btn-info">Edit Store</button>
    </a>
    <a href="{% url 'stores:add_item' store_pk=store.id %}">
        <button class="btn btn-lg btn-info">Add Item</button>
    </a>
    <a href="{% url 'stores:delete_store' pk=store.id %}">
        <button class="btn btn-lg btn-danger">Delete</button>
    </a>
{% endblock %}